@import "@flaticon/flaticon-uicons/css/all/all";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-x-hidden scroll-smooth
}
body {
  @apply bg-primary text-white font-jose  ;
}
* {
  @apply box-border m-0 p-0 outline-none ;
}

.padding {
  @apply md:px-10 px-5 md:py-5 py-5
}

.nav {
  @apply flex items-center justify-between h-fit;
}

.h-cover {
  @apply  min-h-[calc(100vh-70px)] mt-[70px] 
}
.btn-primary {
  @apply cursor-pointer bg-secondary text-white font-outfit px-4 py-2 flex gap-2 rounded-md overflow-hidden;
}
.btn-secondary {
  @apply cursor-pointer bg-transparent text-white font-outfit px-4 py-2 flex gap-2 rounded-md overflow-hidden border border-secondary;
}

